/* estilização responsiva para computador */
@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }

    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 380px) and (max-width: 575px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}