/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f6f8fc;
}

/* cores dos pokemons pelo tipo */
.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

/* estilização mobile da lista de pokemons */
.content {
    padding: 1rem;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
}

.pokemons {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
}

.pokemon {
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.name {
    color: #fff;
    margin-bottom: 0.25rem;
    text-transform: capitalize;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .number {
    color: #000;
    opacity: 0.3;
    text-align: right;
    font-size: 0.625rem;
}

.pokemon .detail .types {
    list-style: none;
}

.pokemon .detail .type {
    color: #fff;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;
    text-align: center;
    border-radius: 1rem;
    font-size: 0.625rem;
    filter: brightness(1.1);
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

button {
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;
    font-size: 0.625rem;
    cursor: pointer;
}

/* estilização mobile do pokemon selecionado */

.content-target {
    padding-top: 3rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.content-target a {
    text-decoration: none;
    color: #fff;
    padding: 0 1.25rem;
    text-align: center;
    font-size: 1.5rem;
    width: 30px;
}

.content-target .ordem {
    margin: 3rem 1rem 0rem 1rem;
    color: #fff;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
}

.ordem .nome {
    font-size: 1.75rem;
}

.ordem .numero {
    font-size: .85rem;
    margin-top: 26px;
}

.detalhe {
    margin: 0.15rem 0.15rem 0.15rem 1.15rem;
    display: flex;
    gap: 0.35rem;
    align-items: center;
}

.detalhe .tipo {
    color: #fff;
    padding: 0.55rem 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    border-radius: 1rem;
    filter: brightness(1.1);
}

.content-target img {
    max-width: 100%;
    height: 160px;
    margin-top: 4rem;
}

.detail-target {
    background-color: #f6f8fc;
    height: 100vh;
    width: 100vw;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 1.5rem;
    box-shadow: #00000079 20px -20px 90px 2px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.detail-target p {
    font-size: 1.5rem;
    margin: 1.5rem auto;
    color: #333;
    text-decoration: 1px solid #7774 underline;
}

.grid-status {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 3rem;
    
}

.grid-status h6 {
    padding-top: 1rem;
    padding-bottom: 0.3rem;
    color: #777;
}

.grid-status div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 0.5rem;
}

.barrinha {
    width: 200px;
    height: 3px;
    background-color: #ccc;
    border: 2px dashed #ddd;
}

.barrinha span {
    height: 3px;
    width: 70px;
    background-color: #ffcc00;
}