/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f6f8fc;
}

/* cores dos pokemons pelo tipo */
.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

/* estilização mobile */
.content {
    padding: 1rem;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
}

.pokemons {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
}

.pokemon {
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.name {
    color: #fff;
    margin-bottom: 0.25rem;
    text-transform: capitalize;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .number {
    color: #000;
    opacity: 0.3;
    text-align: right;
    font-size: 0.625rem;
}

.pokemon .detail .types {
    list-style: none;
}

.pokemon .detail .type {
    color: #fff;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;
    text-align: center;
    border-radius: 1rem;
    font-size: 0.625rem;
    filter: brightness(1.1);
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

button {
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;
    font-size: 0.625rem;
    cursor: pointer;
}